.subtree {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: center;
  width: 100%;
}

.subtree__node {
  position: relative;
  width: 6rem;
  height: 6rem;
  background-color: black;
}

.subtree__node.subtree__node--max {
  clip-path: polygon(50% 0, 100% 100%, 0% 100%);
}

.subtree__node.subtree__node--min {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.subtree__node-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  clip-path: inherit;
  scale: 80%;
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

.subtree__node--max .subtree__node-fill {
  translate: -50% -47%;
}

.subtree__node--min .subtree__node-fill {
  translate: -50% -54%;
}

.subtree__children {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  width: 100%;
}

.subtree__connectors {
  position: absolute;
}

.subtree__connector {
  stroke-width: 2px;
}

.strike-through {
  stroke-width: 3px;
  stroke: red;
}
