.text-box {
  position: absolute;
  translate: -100% 0;
  margin-right: -8rem;
  margin-top: -4rem;
  z-index: 1;
  border: 2px solid #333;
  background-color: #ffff9ecc;
  backdrop-filter: blur(2);
  padding: 0.25rem 0.5rem;
  width: max-content;
  max-width: 20rem;
}

.text-box--max {
  border: 2px solid darkblue;
  background-color: #e7f4ffcc;
}
.text-box--min {
  border: 2px solid darkred;
  background-color: #ffe7e7cc;
}

.text-box-connector {
  stroke-width: 2px;
}

.text-box--max + .text-box-connector {
  stroke: darkblue;
}
.text-box--min + .text-box-connector {
  stroke: darkred;
}
