@import url('./components/node.css');
@import url('./components/playback-buttons.css');
@import url('./components/text-box.css');
@import url('./layout/layout.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  padding: 5rem;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Roboto';
  background-color: #f7f7f7;
}
